{% requireLogin %}

{% extends ct.view.getSystemTemplatePaths('_base') %}

{% block ct %}

	<div class="block block-themed">

		<div class="block-header bg-gray-darker">

			<h3 class="block-title">Import Shift Assignments</h3>

		</div>

		<div class="block-content block-content-full">

			<div class="alert alert-warning" role="alert">
				<p class="mb-0">Ensure that the Shift Assignments spreadsheet follows the documented format before uploading.</p>
			</div>

			{% if errorMessage ?? false %}
				<div class="alert alert-danger" role="alert">
					<p class="mb-0">{{ errorMessage }}</p>
				</div>
			{% endif %}

			<form method="post" enctype="multipart/form-data">
				{{ actionInput('committee-tools/shift-assignments/import') }}
				{{ csrfInput() }}
				{{ redirectInput('ct/success') }}
				{# todo: Update success page. #}
				<p>
					<input type="file" name="file">
				</p>
				<p>
					<button class="btn btn-outline-dark" type="submit">Submit</button>
				</p>

			</form>

		</div>

	</div>

{% endblock %}
