{% extends ct.view.getSystemTemplatePaths('_base') %}

{% set today = now|date('Y-m-d') %}
{% set tomorrow = now|date_modify('+1 day')|date('Y-m-d') %}
{% set dayAfterTomorrow = now|date_modify('+2 days')|date('Y-m-d') %}

{% set todayShifts = committeeTools.shifts.find().showYear(ct.settings.showYear)
	.startDate('>='~today).endDate('<'~tomorrow).asArray().all() %}

{% set tomorrowShifts = committeeTools.shifts.find().showYear(ct.settings.showYear)
	.startDate('>='~tomorrow).endDate('<'~dayAfterTomorrow).asArray().all() %}

{% block ct %}

	{% if errorMessage ?? null %}
		<div class="push">
			<div class="alert alert-danger px-30 py-15">
				<p class="m-0 font-weight-bolder">
					{{ errorMessage }}
				</p>
			</div>
		</div>
	{% endif %}

	<form method="post">

		{{ csrfInput() }}
		{{ actionInput('committee-tools/notifications/send-sms-to-shift-assignees') }}
		{{ redirectInput(ctUrl('success')) }}

		<div class="block block-themed">

			<div class="block-content">

				<div class="mb-4">

					<label class="form-label">On-Grounds Today (Checked-In Members)</label>

					<div class="space-y-2">

						{% for shift in todayShifts %}

							<div class="form-check">
								<input class="form-check-input" type="checkbox" id="checkedIn_{{ shift.id }}" name="checkedInShifts[]" value="{{ shift.id }}">
								<label class="form-check-label" for="checkedIn_{{ shift.id }}">{{ shift.displayName }}</label>
							</div>

						{% endfor %}

					</div>

				</div>

				<div class="mb-4">

					<label class="form-label">Today's Shifts (All Assigned Members)</label>

					<div class="space-y-2">

						{% for shift in todayShifts %}

							<div class="form-check">
								<input class="form-check-input" type="checkbox" id="today_{{ shift.id }}" name="fullShifts[]" value="{{ shift.id }}">
								<label class="form-check-label" for="today_{{ shift.id }}">{{ shift.displayName }}</label>
							</div>

						{% endfor %}

					</div>

				</div>

				<div class="mb-4">

					<label class="form-label">Tomorrow's Shifts (All Assigned Members)</label>

					<div class="space-y-2">

						{% for shift in tomorrowShifts %}

							<div class="form-check">
								<input class="form-check-input" type="checkbox" id="tomorrow_{{ shift.id }}" name="fullShifts[]" value="{{ shift.id }}">
								<label class="form-check-label" for="tomorrow_{{ shift.id }}">{{ shift.displayName }}</label>
							</div>

						{% endfor %}

					</div>

				</div>

				<div class="mb-4">
					<label class="form-label" for="message">Message</label>
					<textarea class="form-control" id="message" name="message" rows="2" maxlength="140" required></textarea>
				</div>

				<div class="mb-4">
					<button class="btn btn-success" type="submit">
						<i data-loading class="fa fa-check push-5-r"></i> Send SMS Message
					</button>
				</div>

			</div>

		</div>

	</form>

{% endblock %}
