{% extends ct.view.getSystemTemplatePaths('_base') %}

{% set myShifts = committeeTools.assignments.getAssignmentsByMember(currentMember) %}

{% block ct %}

<div class="block block-themed">

    <div class="block-header bg-gray-darker">

        <h3 class="block-title">My Shifts</h3>

    </div>

    <div class="block-content block-content-full">

        {% if currentMember.isEligibleToPickUpShiftAssignments %}
            {% block eligibleToPickUpShiftAssignments %}
            {% endblock %}
        {% endif %}

        {% if myShifts | filter(assignment => assignment.availableForTrade) | length %}
        <div class="alert alert-primary alert-dismissable" role="alert">
            <p class="mb-0">
                You can use your <a href="{{ ctUrl('shifts/edit-wishlist') }}" style="text-decoration: underline; color: currentColor;">Shift Wishlist</a> to mark the shifts you'd be willing to work. Then, if you need to trade shifts, we can prioritize
                showing you members who are likely to accept your Trade Requests (because they have your shift on their Wishlist).
            </p>
        </div>
        {% endif %}

        <ul class="list list-timeline list-timeline-modern pull-t">

            {% for assignment in myShifts %}

                <li>
                    <div class="list-timeline-time"></div>
                    <i class="list-timeline-icon fa fa-calendar bg-gray-dark" title="{{ assignment.id }}"></i>
                    <div class="list-timeline-content">
                        <p class="font-weight-bolder mb-10">{{ assignment.shift.displayName }}</p>
                        <p>
                            {% if assignment.availableForTrade and not assignment.tradePending %}
                                <span class="badge badge-info">Available For Trades</span>
                            {% endif %}
                            {% if assignment.tradePending %}
                                <span class="badge badge-warning">Trade Pending</span>
                            {% endif %}
                        </p>
                        <p>{{ assignment.shift.startDate | date('l, F j, Y g:i a')}}</p>

                        {% if assignment.assignedMemberCn != assignment.originalAssignedMemberCn %}

                            {% set originalAssignedMember = committeeTools.members.getMemberByCn(assignment.originalAssignedMemberCn) %}

                            {% if originalAssignedMember %}
                            <div class="block block-rounded block-bordered">
                                <div class="block-content">
                                    <p class="font-weight-bolder">
                                        Originally assigned to:
                                    </p>
                                    <p>
                                        {{ originalAssignedMember.fullPreferredName }}
                                        <br>
                                        {{ originalAssignedMember.subcommittee1 ?? '(No Subcommittee)' }}
                                        <br>
                                        {{ originalAssignedMember.cellPhone ?: originalAssignedMember.phone }}
                                        <br>
                                        {{ originalAssignedMember.email }}
                                    </p>
                                </div>
                            </div>
                            {% endif %}

                        {% endif %}

                        {% if assignment.availableForTrade and not assignment.locked %}

                            {% for request in assignment.getPendingTradeRequests() %}

                                {% set otherAssignment = (assignment.id != request.targetShiftAssignmentId ? request.getTargetAssignment() : request.getSourceAssignment()) %}

                                <div class="block block-rounded block-bordered">
                                    <div class="block-header bg-warning-light" title="{{ request.id }}">
                                        <p class="font-weight-bolder mb-0">Trade Request w/ {{ otherAssignment.assignedMember.fullPreferredName }}</p>
                                    </div>
                                    <div class="block-content">
                                        <p class="font-weight-bolder">{{ otherAssignment.shift.displayName }}</p>
                                        <p>{{ otherAssignment.shift.startDate | date('l, F j, Y g:i a')}}</p>
                                        <p>
                                            {{ otherAssignment.assignedMember.fullPreferredName }}
                                            <br>
                                            {{ otherAssignment.assignedMember.cellPhone ?: otherAssignment.assignedMember.phone }}
                                            <br>
                                            {{ otherAssignment.assignedMember.email }}
                                        </p>
                                    </div>
                                    {% if currentMember.canResolveShiftAssignmentRequest(request) %}
                                        <div class="block-content block-content-full block-content-sm bg-body-light font-size-sm">

                                            <form method="post" class="d-inline-block">

                                                {{ actionInput('committee-tools/shift-assignment-requests/decline-request') }}
                                                {{ csrfInput() }}
                                                {{ redirectInput('ct/my-shifts') }}
                                                {{ hiddenInput('assignmentRequest', request.id) }}

                                                <button class="btn btn-sm btn-alt-danger mr-5 my-5" type="submit">
                                                    <i class="fa fa-times mr-1"></i> Decline this Request
                                                </button>

                                            </form>

                                            <form method="post" class="d-inline-block">

                                                {{ actionInput('committee-tools/shift-assignment-requests/approve-request') }}
                                                {{ csrfInput() }}
                                                {{ redirectInput('ct/my-shifts') }}
                                                {{ hiddenInput('assignmentRequest', request.id) }}

                                                <button class="btn btn-sm btn-alt-success mr-5 my-5" type="submit">
                                                    <i class="fa fa-check mr-1"></i> Approve this Request
                                                </button>

                                            </form>

                                        </div>
                                    {% endif %}
                                </div>

                            {% else %}

                                <p>
                                    <a class="btn btn-sm btn-alt-info mr-5 my-5" href="{{ ctUrl('shifts/search-trades', {assignment: assignment.id}) }}">
                                        <i class="fa fa-search mr-1"></i> Search for Trades
                                    </a>
                                    <a class="btn btn-sm btn-alt-warning mr-5 my-5" href="{{ actionUrl('committee-tools/shift-assignments/set-assignment-available-for-trade', {id: assignment.id, available: 'no'}) }}">
                                        <i class="fa fa-undo mr-1"></i> Keep This Shift
                                    </a>
                                </p>

                            {% endfor %}

                        {% endif %}
                        {% if not assignment.availableForTrade and not assignment.locked %}
                            <p>
                                <a class="btn btn-sm btn-alt-warning mr-5 my-5" href="{{ actionUrl('committee-tools/shift-assignments/set-assignment-available-for-trade', {id: assignment.id}) }}">
                                    <i class="fa fa-exchange mr-1"></i> Make Available for Trades
                                </a>
                            </p>
                        {% endif %}
                    </div>
                </li>

            {% else %}

                <li>

                    <div class="block block-rounded bg-warning-light">
                        <div class="block-content">
                            <p class="font-weight-bolder">You aren't assigned to any Shifts.</p>
                        </div>
                    </div>

                </li>

            {% endfor %}

        </ul>

    </div>

</div>

{% if currentMember and (currentMember.isManagement or currentMember.isCaptain) %}

    {% set managedShifts = committeeTools.shifts.getShiftsManagedByMember(currentMember) %}

    <div class="block block-themed">

        <div class="block-header bg-gray-darker">

            <h3 class="block-title">My Managed Shifts</h3>

        </div>

        <div>
            {{ committeeTools.view.render('shift-manager/_shiftsTable', {shifts: managedShifts, emptyMessage: "You aren't managing any Shifts."}) }}
        </div>

    </div>

{% endif %}

{% endblock %}
