{% extends ct.view.getSystemTemplatePaths('_base') %}

{% block ct %}

    <div class="block block-rounded block-bordered bg-success-light">
        <div class="block-content">
            <p class="font-weight-bolder">Success!</p>
            <p>Whatever you were doing... It worked! 🤠</p>
        </div>
    </div>

{% endblock %}
