{% with {
	member: member ?? ct.currentMember ?? null,
	label: label ?? ct.settings.idLabel
} %}
	
	{% if member and member.cn %}
	
		<div class="block block-themed">
	
			<div class="block-header bg-gray-darker">
	
				<h3 class="block-title">{{ label }}</h3>
	
			</div>
	
			<div class="block-content block-content-full text-center">
	
				{% set displayName = member.getFullPreferredName() %}
	
				<p class="font-weight-bolder mb-0">{{ displayName | ucwords }}</p>
				<p>
					{{ member.description | lower | ucwords }}
					{% if member.subcommittee1 %}
						&mdash; {{ member.subcommittee1.displayName }}
					{% endif %}
				</p>
	
				<div class="barcode">
					{{ barcodes.getBarcodeSvg(member.cn, 'C128', 2, 55) | raw }}
				</div>
				<p class="mb-0">{{ member.cn }}</p>
	
			</div>
	
		</div>
	
	{% endif %}

{% endwith %}
