{% set assignments = committeeTools.assignments.getAssignmentsByShift(shift) %}
{% set areas = assignments | group('area') %}

{% set checkedInCns = committeeTools.assignments.shame_getAllCheckins() %}

<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8">
    <title>{{ pageTitle }}</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

</head>

<body class="">

    <header class="p-3 bg-black text-white text-center">
        {{ pageTitle }}
    </header>

    <div id="assignments" class="mt-2">

        <div class="flex flex-row text-xs">

            {% set row = 0 %}
            {% set currentArea = null %}
            {% set currentStripe = 'bg-blue-200' %}

            <div class="flex-grow text-center p-1">

            {% for area, assignments in areas %}

                {% set thisArea = area ?: 'Unassigned' %}

                {% for assignment in assignments %}

                {% if thisArea != currentArea or row == 0 %}
                    <div class="bg-red-800 text-white px-2 py-1 mt-1">
                        {{ thisArea }}
                    </div>
                    {% set row = row + 1 %}
                    {% set currentArea = thisArea %}
                    {% set currentStripe = cycle(['bg-gray-200', 'bg-gray-400'], loop.parent.loop.index) %}
                {% endif %}

                <div class="px-2 py-1 {{ assignment.assignedMemberCn in checkedInCns ? 'bg-green-200' : currentStripe }} text-black">
                    {{ assignment.assignedMember.fullPreferredName }}
                </div>
                {% set row = row + 1 %}

                {% if row > 17 %}
                    {% set row = 0 %}
                    </div>
                    <div class="flex-grow text-center p-1">
                {% endif %}

                {% endfor %}

            {% endfor %}

            </div>

        </div>

    </div>

    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous">
    </script>

    <script>
		$(function() {
			setInterval(
				function(){
					$("#assignments").load("{{ craft.app.request.url }} #assignments");
					console.log("did it.");
                }, 1000
            );
		});
	</script>

</body>

</html>




{% do view.registerAssetBundle("hlsr\\committeetools\\assetbundles\\AlpineAssetBundle") %}

{% set js %}

    //

{% endset %}

{% js js %}

