<table class="table table-striped table-vcenter mt-10">

    <tbody>

    {% for shift in (shifts ?? []) %}

        <tr>

            {% block defaultControls %}

            <td class="text-center" title="{{ shift.id }}" scope="row">
                <i class="fa fa-calendar text-gray-dark p-5"></i>
            </td>
            <td title="{{ shift.id }}">
                <strong class="font-weight-bolder">{{ shift.displayName }}</strong>
            </td>
            <td>
                <em class="text-muted">{{ shift.startDate | date('l n/d, g:i a') }}</em>
            </td>
            <td>

            </td>
            <td class="d-none d-sm-table-cell">
                <span class="badge badge-secondary">
                    {{ shift.division }}
                </span>
            </td>
            <td class="text-right pr-20">

                <a class="btn btn-sm btn-alt-info" href="{{ ctUrl('shift-manager/shift-roster', shift.id) }}">
                    <i class="fa fa-file-text-o mr-5"></i> View Roster
                </a>

                <a class="btn btn-sm btn-alt-secondary mr-5" href="{{ ctUrl('shift-manager/print-shift-roster', shift.id) }}">
                    <i class="si si-printer"></i>
                </a>

            </td>

            {% endblock %}

            {% block extraControls %}
            {% endblock %}

        </tr>

    {% else %}

        <tr>
            <td colspan="0">
                <div class="block block-rounded {{ emptyClass ?? 'bg-warning-light' }}">
                    <div class="block-content">
                        {% block emptyMessage %}
                            <p class="font-weight-bolder">
                                (No shifts to display here.)
                            </p>
                        {% endblock %}
                    </div>
                </div>
            </td>
        </tr>

    {% endfor %}

    </tbody>
</table>
