<table class="table table-striped table-vcenter mt-10">

    <tbody>

    {% for assignment in (assignments ?? []) %}

        <tr>
            <td>
                <span class="font-weight-bolder">{{ assignment.shift.displayName }}</span>
                <br>
                <small class="text-quiet">
                    {{ assignment.shift.startDate | date('l, F j, Y g:i a') }}
                </small>

            </td>
            <td title="{{ assignment.assignedMemberCn }}">
                <span class="font-weight-bolder">{{ assignment.assignedMember.fullPreferredName }}</span>
                <br>
                <small class="text-quiet">
                    {{ assignment.assignedMember.cn }}
                </small>
            </td>
            <td>
                {% if assignment.tradeCompleted %}
                    <span class="badge badge-info">Trade Completed</span>
                {% endif %}
                {% if assignment.tradePending %}
                    <span class="badge badge-warning">Trade Pending</span>
                {% elseif assignment.availableForTrade %}
                    <span class="badge badge-secondary">Available for Trade</span>
                {% endif %}
            </td>
        </tr>

    {% else %}

        <tr>
            <td colspan="0">
                <div class="block block-rounded {{ emptyClass ?? 'bg-warning-light' }}">
                    <div class="block-content">
                        <p>{{ emptyMessage ?? "(No Shift Assignment requests to display here.)" }}</p>
                    </div>
                </div>
            </td>
        </tr>

    {% endfor %}

    </tbody>

</table>
