{% extends ct.view.getSystemTemplatePaths('_base') %}

{% set shifts = committeeTools.shifts.find().showYear(ct.settings.showYear).all() %}

{% block ct %}

    <div class="block block-themed">

        <div class="block-header bg-gray-darker">
            <h3 class="block-title">Today's Shifts</h3>
        </div>

        {% embed ct.view.getSystemTemplatePaths('shift-manager/_shiftsTable') with {
            shifts: shifts,
        } only %}

            {% block emptyMessage %}
                <p class="font-weight-bolder">
                    No shifts scheduled for this year.
                </p>
            {% endblock %}

        {% endembed %}

    </div>

{% endblock %}
