{% set shift = committeeTools.shifts.getShiftById(shiftId) %}

{% if not shift %}
    {% exit 404 %}
{% endif %}

<style>

    * {
        font-family: sans-serif;
    }
    table {
        width: 100%;
        padding: 0;
    }
    tr {
        page-break-inside: avoid;
    }
    tr:nth-child(odd) {
        background-color: #e7e7e7;
    }
    th {
        
    }
    th, td {
        margin: 0;
        padding: .3em;
        border-top: 1px solid #000;
        border-spacing: 0;
        page-break-inside: avoid;
        text-align: left;
    }

</style>



{% set assignments = committeeTools.assignments.getAssignmentsByShift(shift) | multisort('assignedMember.lastName') %}

<h3 class="block-title">{{ shift.displayName }}</h3>
<p>
    <small>({{ assignments|length }} assigned)</small>
</p>

<table cellpadding="0" cellspacing="0">

    <thead>
        <th></th>
        <th>Name</th>
        <th>Contact</th>
        <th>Assignment</th>
        {% block extraHeadings %}
        {% endblock %}
    </thead>
    <tbody>

    {% for assignment in assignments %}

        {% set assignedMember = assignment.assignedMember %}

        <tr>

            <td style="text-align: center;">
                <img src="{{ assignedMember.getLocalPhotoUrl() }}" style="max-height: 60px; border-radius: 3px;">
            </td>

            <td>
                <span class="font-weight-bolder">
                    {{ assignedMember.fullPreferredName }}
                </span>
                <br>
                <small class="text-quiet">
                    {{ assignedMember.subcommittee1.abbreviation ?? ''     }} / {{ assignedMember.cn }}
                </small>
            </td>

            <td>
                {% if assignedMember.bestPhoneNumber %}
                    {{ assignedMember.bestPhoneNumber }}
                {% endif %}
            </td>

            <td>
                <span class="font-weight-bolder">
                    {{ assignment.area }}
                </span>
                <br>
                <small class="text-quiet">
                    {{ assignment.position }}
                </small>

            </td>

            {% block extraFields %}
            {% endblock %}

        </tr>

    {% else %}

        <tr>
            <td colspan="*">
                <div class="block block-rounded bg-info-light">
                    <div class="block-content">
                        <p>No members assigned to this shift.</p>
                    </div>
                </div>
            </td>
        </tr>

    {% endfor %}

    </tbody>
</table>
