{% set shift = committeeTools.shifts.getShiftById(shiftId) %}

{% if not shift %}
	{% exit 404 %}
{% endif %}

{% for assignment in committeeTools.assignments.getAssignmentsByShift(shift) %}

	{% with {
		assignedMember: assignment.assignedMember ?? null
	} %}

		{% if assignedMember %}
			{{- assignedMember.email -}}<br>
		{% endif %}

	{% endwith %}

{% endfor %}
