{% extends ct.view.getSystemTemplatePaths('_base') %}

{% set availableAssignments = committeeTools.assignments.find().inCurrentShowYear().availableForTrade().all() | multisort(['shift.startDate']) %}

{% set approvedTrades = committeeTools.assignmentRequests.find()
    .isApproved()
    .resolvedDate('>'~committeeTools.settings.showYear)
    .type('trade').with(['sourceShiftAssignment', 'targetShiftAssignment', 'initiatingUser', 'resolvingUser'])
    .orderBy('dateUpdated desc')
    .all() %}

{% set pendingTrades = committeeTools.assignmentRequests.find()
    .isPending().type('trade').with(['sourceShiftAssignment', 'targetShiftAssignment', 'initiatingUser', 'resolvingUser'])
    .orderBy('dateUpdated desc')
    .all() %}

{% block ct %}

<div class="block block-themed">

    <div class="block-header bg-gray-darker">
        <h3 class="block-title">Shift Assignments Available for Trade</h3>
    </div>

    <div>
        {{ committeeTools.view.render('shift-manager/_shiftAssignmentsTable', {assignments: availableAssignments}) }}
    </div>

</div>

<div class="block block-themed">

    <div class="block-header bg-gray-darker">
        <h3 class="block-title">Pending Shift Trade Requests</h3>
    </div>

    <div class="">
        {{ committeeTools.view.render('_includes/_shiftRequestTable', {requests: pendingTrades}) }}
    </div>

</div>

<div class="block block-themed">

    <div class="block-header bg-gray-darker">
        <h3 class="block-title">Approved Shift Trade Requests</h3>
    </div>

    <div class="">
        {{ committeeTools.view.render('_includes/_shiftRequestTable', {requests: approvedTrades}) }}
    </div>

</div>

{% endblock %}
