{% set shift = committeeTools.shifts.getShiftById(shiftId) %}

{% if not shift %}
	{% exit 404 %}
{% endif %}

{% extends ct.view.getSystemTemplatePaths('_base') %}

{% set assignments = committeeTools.assignments.getAssignmentsByShift(shift) | multisort(a => a.assignedMember ? a.assignedMember.lastName : 'zzzzz') %}

{% block ct %}

	<div class="block block-themed">

		<div class="block-header bg-gray-darker">
			<h3 class="block-title">{{ shift.displayName }}</h3>
			{{ assignments|length }} &nbsp;<i class="si si-users"></i>
		</div>

		<div class="table-responsive mt-10">

			<table class="table table-striped table-vcenter">

				<tbody>

				{% for assignment in assignments %}

					{% with {
						assignedMember: assignment.assignedMember
					} %}

					<tr>

						{% if currentMember.canManageShift(shift) %}

							<td class="text-center px-20">
								{# TODO: Maybe only show the Check-in shortcut control *during* a shift (with some margin on either side)? #}
								{% if assignment.status and assignment.status == 'checkedIn' %}
									<i class="fa fa-check text-success"></i>
								{% elseif assignment.status and assignment.status == 'checkedInLate' %}
									<i class="fa fa-check"></i>
								{% elseif assignment.status %}
									{# TODO #}
								{% elseif assignedMember %}
									<form method="post">
										{{ actionInput('committee-tools/shift-assignments/update-assignment') }}
										{{ hiddenInput('assignment', assignment.id) }}
										{{ hiddenInput('status', 'checkedIn') }}
										{{ csrfInput() }}
										<button class="btn btn-sm btn-alt-success" type="submit">
											<i class="fa fa-check-square-o"></i>
										</button>
									</form>
								{% endif %}
							</td>

						{% endif %}


						<td title="{{ assignment.assignedMemberCn }}" style="min-width: 135px;">

							{% if assignedMember %}

								<span class="font-weight-bolder">{{ assignedMember.fullPreferredName }}</span>
								<br>
								<small class="text-quiet">
									{{ assignedMember.subcommittee1.displayName ?? '' }}
									<br>
									{{ assignedMember.cn }}
								</small>

							{% elseif currentMember.canManageShift(shift) %}

								<form method="post" class="d-inline-block">

									{{ actionInput('committee-tools/shift-assignments/update-assignment') }}
									{{ csrfInput() }}
									{{ hiddenInput('assignment', assignment.id) }}

									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text">
												<i class="fa fa-user"></i>
											</span>
										</div>
										<input type="number" class="form-control" name="assignedMemberCn" placeholder="HLSR #">
									</div>

									<div class="mt-2">
										<button class="btn btn-success" type="submit">
											<i data-loading class="fa fa-plus-circle mr-5"></i> Assign Member
										</button>
									</div>

								</form>

							{% endif %}

							<div class="pt-2">
								{% if assignment.tradeCompleted %}
									<span class="badge badge-info">Trade Completed</span>
								{% endif %}
								{% if assignment.tradePending %}
									<span class="badge badge-warning">Trade Pending</span>
								{% elseif assignment.availableForTrade %}
									<span class="badge badge-warning">Available for Trade</span>
								{% endif %}
							</div>

						</td>

						<td>
							<form x-data="x_selfPostingForm()" x-init="() => {}" method="post">
								{{ actionInput('committee-tools/shift-assignments/update-assignment') }}
								{{ hiddenInput('assignment', assignment.id) }}
								{{ csrfInput() }}
								<label for="__{{ assignment.id }}_area">Area</label>
								<select class="form-control" id="__{{ assignment.id }}_area" name="area" @change="update()" style="min-width: 70px;">
									<option value=""></option>
									{% for value in committeeTools.assignments.getAssignmentAreaOptions(assignment) %}
										<option value="{{ value }}" {{ assignment.area == value ? 'selected' }}>{{ value }}</option>
									{% endfor %}
								</select>
							</form>
						</td>

						<td>
							{{ committeeTools.view.render('shift-manager/_shift-roster-extraFields', {shift: shift, assignment: assignment}) }}
						</td>

						{% if currentMember.canManageShift(shift) %}

							<td>
								{% if assignedMember %}
									<form x-data="x_selfPostingForm()" x-init="() => {}" method="post">
										{{ actionInput('committee-tools/shift-assignments/update-assignment') }}
										{{ hiddenInput('assignment', assignment.id) }}
										{{ csrfInput() }}
										<label for="__{{ assignment.id }}_status">Attendance</label>
										<select class="form-control" id="__{{ assignment.id }}_status" name="status" @change="update()" style="min-width: 70px;">
											<option value="">Not Present</option>
											{% for value, label in committeeTools.assignments.getAssignmentStatusOptions() %}
												<option value="{{ value }}" {{ assignment.status == value ? 'selected' }}>{{ label }}</option>
											{% endfor %}
										</select>
									</form>
								{% endif %}
							</td>

							<td class="text-right pr-20">

								<form method="post" class="d-inline-block ml-20">

									{{ actionInput('committee-tools/shift-assignments/delete-assignment') }}
									{{ csrfInput() }}
									{{ redirectInput(craft.app.request.url) }}
									{{ hiddenInput('assignment', assignment.id) }}

									<button class="btn btn-sm btn-alt-danger" type="submit">
										<i class="fa fa-times"></i>
									</button>

								</form>

							</td>

						{% endif %}

						<td class="text-center">
							{% if assignedMember %}
								<img src="{{ assignedMember.getLocalPhotoUrl() }}" style="max-height: 70px; border-radius: 3px;">
							{% endif %}
						</td>

						<td class="pr-20">
							{% if assignedMember %}
								<p class="mb-5">
									{% if assignedMember.bestPhoneNumber %}
										<a class="text-nowrap" href="tel:{{ assignedMember.bestPhoneNumber }}">
											<i class="fa fa-phone mr-5"></i><em class="text-muted">{{ assignedMember.bestPhoneNumber }}</em>
										</a>
									{% endif %}
								</p>
								<p class="mb-0">
									<a class="text-nowrap" href="tel:{{ assignedMember.email }}">
										<i class="fa fa-envelope-o mr-5"></i><em class="text-muted">{{ assignedMember.email }}</em>
									</a>
								</p>
							{% endif %}
						</td>

						<td>
							{% if assignedMember %}
								<a class="btn btn-sm btn-alt-info" href="{{ ctUrl('members', assignment.assignedMemberCn) }}">
									<i class="fa fa-info-circle"></i>
								</a>
							{% endif %}
						</td>

					</tr>

					{% endwith %}

				{% else %}

					<tr>
						<td>
							<div class="block block-rounded bg-info-light">
								<div class="block-content">
									<p>No members assigned to this shift.</p>
								</div>
							</div>
						</td>
					</tr>

				{% endfor %}

				</tbody>
			</table>

		</div>

	</div>

	<div class="block block-themed">

		<div class="block-header bg-muted">
			<h3 class="block-title">Assign Member to Shift...</h3>
		</div>

		<div class="block-content">

			<form method="post" class="d-inline-block ml-20">

				{{ actionInput('committee-tools/shift-assignments/create-member-assignment-for-shift') }}
				{{ csrfInput() }}
				{{ redirectInput(craft.app.request.url) }}
				{{ hiddenInput('shift', shift.id) }}

				<div class="input-group">
					<div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-user"></i>
                    </span>
					</div>
					<input type="number" class="form-control" id="__assignToShift" name="cn" placeholder="HLSR #">
				</div>

				<div class="my-20">
					<button class="btn btn-success" type="submit">
						<i data-loading class="fa fa-plus-circle mr-5"></i> Add Member
					</button>
				</div>

			</form>

		</div>

	</div>

{% endblock %}


{% do view.registerAssetBundle("hlsr\\committeetools\\assetbundles\\AlpineAssetBundle") %}

{% js %}

// <script>

function x_selfPostingForm() {

	return {

		update: function update() {

			// this.$el.submit()

			var form = $(this.$el);

			$.ajax({
				type: form.method,
				url: form.action,
				data: form.serialize(),
				dataType: 'json',
				encode: true
			}).done(
				function(data) {
					console.log(data);
				}
			);

		},

	};

}

// </script>

{% endjs %}
