{% extends ct.view.getSystemTemplatePaths('_base') %}

{% set today = now|date('Y-m-d') %}
{% set yesterday = now|date_modify('-1 day')|date('Y-m-d') %}
{% set shifts = committeeTools.shifts.find().showYear(ct.settings.showYear)
    .startDate('>='~yesterday).endDate('<'~today).all() %}

{% block ct %}

    <div class="block block-themed">

        <div class="block-header bg-gray-darker">
            <h3 class="block-title">Yesterday's Shifts</h3>
        </div>

        {% embed ct.view.getSystemTemplatePaths('shift-manager/_shiftsTable') with {
            shifts: shifts,
        } only %}

            {% block emptyMessage %}
                <p class="font-weight-bolder">
                    There were no shifts yesterday.
                </p>
            {% endblock %}

        {% endembed %}

    </div>

{% endblock %}
