<table class="table table-striped table-vcenter mt-10">

    <tbody>

    {% for request in (requests ?? []) %}

        <tr>
            <td>
                {% if request.sourceShiftAssignment %}
                    <span class="font-weight-bolder">{{ request.sourceShiftAssignment.assignedMember.fullPreferredName ?? '(Unassigned)' }}</span>
                    <br>
                    {{ request.sourceShiftAssignment.shift.displayName }}
                    <br>
                    <a href="{{ ctUrl('members', request.sourceShiftAssignment.assignedMemberCn) }}" class="font-quiet" title="CN {{ request.sourceShiftAssignment.assignedMemberCn }}">
                        {{ request.sourceShiftAssignment.assignedMemberCn }}
                    </a> /
                    <em class="font-quiet" title="Shift {{ request.sourceShiftAssignment.id }}">
                        {{ request.sourceShiftAssignment.id }}
                    </em> /
                    <em class="font-quiet" title="Request {{ request.id }}">
                        {{ request.id }}
                    </em>
                {% else %}
                    <span title="{{ request.id }}">
                        (Shift assignment deleted.)
                    </span>
                {% endif %}
            </td>
            <td>
                <i class="fa fa-exchange"></i>
            </td>
            <td>
                {% if request.targetShiftAssignment %}
                    <span class="font-weight-bolder">{{ request.targetShiftAssignment.assignedMember.fullPreferredName ?? '(Unassigned)' }}</span>
                    <br>
                    {{ request.targetShiftAssignment.shift.displayName }}
                    <br>
                    <a href="{{ ctUrl('members', request.targetShiftAssignment.assignedMemberCn) }}" class="font-quiet" title="CN {{ request.targetShiftAssignment.assignedMemberCn }}">
                        {{ request.targetShiftAssignment.assignedMemberCn }}
                    </a> /
                    <em class="font-quiet" title="Shift {{ request.targetShiftAssignment.id }}">
                        {{ request.targetShiftAssignment.id }}
                    </em> /
                    <em class="font-quiet" title="Request {{ request.id }}">
                        {{ request.id }}
                    </em>
                {% else %}
                    <span title="{{ request.id }}">
                        (Shift assignment deleted.)
                    </span>
                {% endif %}
            </td>
            <td>
                {# TODO: This all seems very fragile, dealing with Users as records rather than elements... #}
                <em class="font-quiet">
                    Requested {{ request.dateCreated }} by {{ request.initiatingUser.firstName }} {{ request.initiatingUser.lastName }}
                </em>
                <br>
                {% if request.status == 'expired' %}
                    Expired {{ request.resolvedDate }}
                {% elseif request.resolvedDate and request.resolvingUser %}
                    {{ request.status | ucfirst }} {{ request.resolvedDate }} by {{ request.resolvingUser.firstName }} {{ request.resolvingUser.lastName }}
                {% else %}
                    {{ request.status | ucfirst }} as of {{ request.dateUpdated }}
                {% endif %}
            </td>

        </tr>

    {% else %}

        <tr>
            <td colspan="0">
                <div class="block block-rounded {{ emptyClass ?? 'bg-warning-light' }}">
                    <div class="block-content">
                        <p>{{ emptyMessage ?? "(No Shift Assignment requests to display here.)" }}</p>
                    </div>
                </div>
            </td>
        </tr>

    {% endfor %}

    </tbody>

</table>
