{%- set sourceAssignment = tradeRequest.getSourceAssignment() -%}
{%- set targetAssignment = tradeRequest.getTargetAssignment() -%}
{%- set requestor = sourceAssignment.assignedMember -%}
{%- set requestee = targetAssignment.assignedMember -%}

Howdy {{ requestor.preferredName }},

{{ requestee.fullPreferredName }} accepted your Trade Request!

The new assignment - {{ targetAssignment.shift.displayName }} - has been added to your schedule.

Your original assignment - {{ sourceAssignment.shift.displayName }} - has been removed from your schedule.

You can review your full schedule at any time by logging back on:

{{ url('ct/my-shifts') }}
