{%- set sourceAssignment = tradeRequest.getSourceAssignment() -%}
{%- set targetAssignment = tradeRequest.getTargetAssignment() -%}
{%- set requestor = sourceAssignment.assignedMember -%}
{%- set requestee = targetAssignment.assignedMember -%}

Howdy!

{{ requestor.fullPreferredName }} and {{ requestee.fullPreferredName }} completed a Trade Request for a Shift you manage.

{{ requestor.fullPreferredName }} is now assigned to:
{{ targetAssignment.shift.displayName }}

{{ requestee.fullPreferredName }} is now assigned to:
{{ sourceAssignment.shift.displayName }}

You can review your full shift schedule and rosters at any time by logging in:

{{ url('ct/my-shifts') }}
