{%- set sourceAssignment = tradeRequest.getSourceAssignment() -%}
{%- set targetAssignment = tradeRequest.getTargetAssignment() -%}
{%- set requestor = sourceAssignment.assignedMember -%}
{%- set requestee = targetAssignment.assignedMember -%}

Hi {{ requestor.preferredName }},

Unfortunately, {{ requestee.fullPreferredName }} declined your Trade Request. Your original assignment - {{ sourceAssignment.shift.displayName }} - is available again for you to make another request.

You can review your shift schedule, and request another shift trade, by logging back in to the website:

{{ url('ct/my-shifts') }}
