{%- set requestor = tradeRequest.getSourceAssignment().assignedMember -%}
{%- set requestee = tradeRequest.getTargetAssignment().assignedMember -%}

Howdy {{ requestee.preferredName }},

{{ requestor.fullPreferredName }} sent you a Shift Trade Request!

You can review the details of the request by logging in here:
{{ url('ct/my-shifts') }}

Thank you!
