{%- set requestor = tradeRequest.getSourceAssignment().assignedMember -%}
{%- set requestee = tradeRequest.getTargetAssignment().assignedMember -%}

Howdy {{ requestor.preferredName }},

Your Shift Trade Request has been submitted!

We've sent an email to {{ requestee.fullPreferredName }} alerting them about your request. They'll have 24 hours to Accept or Decline your request.

You can review the details of your request at any time by logging back in: {{ url('ct/my-shifts') }}

Good luck!
