{% set sourceAssignment = committeeTools.assignments.getAssignmentById(craft.app.request.getParam('sourceAssignment')) %}
{% set targetAssignment = committeeTools.assignments.getAssignmentById(craft.app.request.getParam('targetAssignment')) %}

{% if sourceAssignment is empty or targetAssignment is empty %}
    {% exit 400 %}
{% endif %}

{% extends ct.view.getSystemTemplatePaths('_base') %}

{% block ct %}

<h3 class="font-w700 push">Trade Request</h3>

{% if errorMessage ?? null %}
    <div class="px-0 mt-30">
        <div class="alert alert-danger px-30 py-15">
            <p class="mb-0 font-weight-bolder">
                {{ errorMessage }}
            </p>
        </div>
    </div>
{% endif %}

<div class="block block-rounded">
    <div class="block-content">

        <h3 class="h5">Your Shift</h3>

        <div class="block block-rounded bg-warning-light">
            <div class="block-content">
                <p class="font-weight-bolder">{{ sourceAssignment.shift.displayName }}</p>
                <p>{{ sourceAssignment.shift.startDate | date('l, F j, Y g:i a')}}</p>
            </div>
        </div>

        <h3 class="h5">{{ targetAssignment.assignedMember.getPreferredFirstName() }}'s Shift</h3>

        <div class="block block-rounded bg-warning-light">
            <div class="block-content">
                <p class="font-weight-bolder">{{ targetAssignment.shift.displayName }}</p>
                <p>{{ targetAssignment.shift.startDate | date('l, F j, Y g:i a')}}</p>
                <p>
                    {{ targetAssignment.assignedMember.fullPreferredName }}
                    <br>
                    {{ targetAssignment.assignedMember.cellPhone ?: targetAssignment.assignedMember.phone }}
                    <br>
                    {{ targetAssignment.assignedMember.email }}
                </p>
            </div>
        </div>

        <p>
            ({{ targetAssignment.assignedMember.getPreferredFirstName() }} will have 24 hours to Accept or Decline your request.)
        </p>

        <form method="post">

            {{ actionInput('committee-tools/shift-assignment-requests/create-trade-request') }}
            {{ csrfInput() }}
            {{ redirectInput('ct/my-shifts') }}
            {{ hiddenInput('sourceAssignment', sourceAssignment.id) }}
            {{ hiddenInput('targetAssignment', targetAssignment.id) }}

            <p>
                <a class="btn btn-alt-danger mr-5 my-5" href="{{ url('ct/shifts/search-trades', {assignment: sourceAssignment.id}) }}">
                    <i class="fa fa-undo mr-1"></i> Back to Search
                </a>
                <button class="btn btn-alt-success mr-5 my-5" type="submit">
                    <i class="fa fa-check mr-1"></i> Submit Trade Request
                </button>
            </p>

        </form>

    </div>
</div>

{% endblock %}
