{% extends ct.view.getSystemTemplatePaths('_base') %}

{% set shifts = committeeTools.shifts.getWishlistEligibleShifts(currentMember) %}
{% set myWishlistShiftIds = committeeTools.wishlists.getShiftIdsByMember(currentMember) %}

{% block ct %}

<div class="alert alert-primary alert-dismissable" role="alert">
	<p class="mb-0">
		Use your Shift Wishlist to mark the shifts you'd be willing to work. Then, if you need to trade shifts, we can prioritize
		showing you members who are likely to accept your Trade Requests (because they have your shift on their Wishlist).
	</p>
</div>

<div class="block block-themed">

	<div class="block-header bg-gray-darker">
		<h3 class="block-title">Shift Wishlist</h3>
	</div>

	<div class="">

		<table class="table table-striped table-vcenter mt-10">

			<tbody>

			{% for shift in (shifts ?? []) %}

				<tr>

					<td class="text-center" title="{{ shift.id }}" scope="row">
						<i class="fa fa-calendar text-gray-dark p-5"></i>
					</td>
					<td title="{{ shift.id }}">
						<strong class="font-weight-bolder">{{ shift.displayName }}</strong>
					</td>
					<td>
						<em class="text-muted">{{ shift.startDate | date('l, F j, Y g:i a') }}</em>
					</td>
					<td>

					</td>
					<td class="d-none d-sm-table-cell">
                <span class="badge badge-secondary">
                    {{ shift.division }}
                </span>
					</td>
					<td class="text-right pr-20">

						<form method="post">

							{{ csrfInput() }}
							{{ hiddenInput('cn', currentMember.cn) }}
							{{ hiddenInput('shiftId', shift.id) }}

							{% if shift.id in myWishlistShiftIds %}
								{{ actionInput('committee-tools/shift-wishlists/remove-shift-from-member-wishlist') }}
								<button class="btn btn-sm btn-alt-danger" type="submit">
									<i class="fa fa-close"></i> Remove from Wishlist
								</button>
							{% else %}
								{{ actionInput('committee-tools/shift-wishlists/add-shift-to-member-wishlist') }}
								<button class="btn btn-sm btn-alt-success" type="submit">
									<i class="fa fa-plus"></i> Add to Wishlist
								</button>
							{% endif %}

						</form>

					</td>

				</tr>

			{% else %}

				<tr>
					<td colspan="0">
						<div class="block block-rounded {{ emptyClass ?? 'bg-warning-light' }}">
							<div class="block-content">
								<p class="font-weight-bolder">{{ emptyMessage ?? "(No Shifts to display here.)" }}</p>
							</div>
						</div>
					</td>
				</tr>

			{% endfor %}

			</tbody>
		</table>


	</div>

</div>

{% endblock %}
