{% set assignment = committeeTools.assignments.getAssignmentById(craft.app.request.getRequiredParam('assignment')) %}

{% if assignment is empty %}
    {% exit 400 %}
{% endif %}

{% extends ct.view.getSystemTemplatePaths('_base') %}

{% block ct %}

<h3 class="font-w700 push">Pick Up Shift Assignment</h3>

{% if errorMessage ?? null %}
    <div class="px-0 mt-30">
        <div class="alert alert-danger px-30 py-15">
            <p class="mb-0 font-weight-bolder">
                {{ errorMessage }}
            </p>
        </div>
    </div>
{% endif %}

<div class="block block-rounded">
    <div class="block-content">

        <h3 class="h5">Please confirm your commitment:</h3>

        <div class="block block-rounded bg-warning-light">
            <div class="block-content">
                <p class="font-weight-bolder">{{ assignment.shift.displayName }}</p>
                <p>
                    {{ assignment.shift.startDate | date('l, F j, Y g:i a')}}
                    &ndash;
                    {{ assignment.shift.endDate | date('g:i a')}}
                </p>
            </div>
        </div>

        <p>
            Once you agree to pick up this assignment, you'll be responsible for working the shift unless you trade the assignment to someone else.
        </p>

        <form method="post">

            {{ actionInput('committee-tools/shift-assignments/pick-up-assignment') }}
            {{ csrfInput() }}
            {{ redirectInput('ct/my-shifts') }}
            {{ hiddenInput('assignment', assignment.id) }}

            <p>
                <a class="btn btn-alt-danger mr-5 my-5" href="{{ ctUrl('shifts/search-pickup') }}">
                    <i class="fa fa-undo mr-1"></i> Back to Search
                </a>
                <button class="btn btn-alt-success mr-5 my-5" type="submit">
                    <i class="fa fa-check mr-1"></i> Pick Up This Shift Assignment
                </button>
            </p>

        </form>

    </div>
</div>

{% endblock %}
