{% extends ct.view.getSystemTemplatePaths('_base') %}

{% set assignmentToTrade = committeeTools.assignments.getAssignmentById(craft.app.request.getParam('assignment')) %}

{% block ct %}

<h3 class="font-w700 push">Search For Trades</h3>

<div class="block">

    <div class="block-header block-header-default">
        <h3 class="block-title">Your Shift Assignment</h3>
    </div>

    <div class="block-content block-content-full">

        <div class="block block-rounded block-bordered bg-info-light">
            <div class="block-content">
                <p class="font-weight-bolder">{{ assignmentToTrade.shift.displayName }}</p>
                <p>{{ assignmentToTrade.shift.startDate | date('l, F j, Y g:i a')}}</p>
            </div>
        </div>

    </div>

</div>

<div class="block block-themed">

    <div class="block-header bg-gray-darker">

        <h3 class="block-title">Available Shift Assignments</h3>

    </div>

    <div class="block-content block-content-full">

        {% for assignment in committeeTools.assignments.getTradeEligibleAssignments(assignmentToTrade) %}

            <div class="block block-rounded block-bordered ">

                <div class="block-content">
                    <p class="font-weight-bolder">{{ assignment.shift.displayName }}</p>
                    <p>{{ assignment.shift.startDate | date('l, F j, Y g:i a')}}</p>
                    <p>
                        {{ assignment.assignedMember.fullPreferredName }}
                        <br>
                        {{ assignment.assignedMember.cellPhone ?: assignment.assignedMember.phone }}
                        <br>
                        {{ assignment.assignedMember.email }}
                    </p>

                </div>

                <div class="block-content block-content-full block-content-sm bg-body-light font-size-sm">
                    <a class="btn btn-alt-success mr-5 my-5" href="{{ url('ct/shifts/create-trade-request', {sourceAssignment: assignmentToTrade.id, targetAssignment: assignment.id}) }}">
                        <i class="fa fa-exchange mr-1"></i> Request this Trade
                    </a>
                </div>

            </div>

        {% else %}

            <div class="block block-rounded block-bordered bg-warning-light">
                <div class="block-content">
                    <p class="font-weight-bolder">We can't find any candidates for this Shift trade right now.</p>
                </div>
            </div>

        {% endfor %}

    </div>

</div>

<p>
    <a class="btn btn-outline-dark mr-5 my-5" href="{{ url('ct/my-shifts') }}">
        <i class="si si-action-undo mr-1"></i> Back to Your Shifts
    </a>
</p>

{% endblock %}
