{% extends ct.view.getSystemTemplatePaths('_base') %}

{% set pickupEligibleAssignments = committeeTools.assignments.getPickupEligibleAssignments(currentMember) %}
{% set myWishlistShiftIds = committeeTools.wishlists.getShiftIdsByMember(currentMember) %}

{% block ct %}

    <div class="block block-themed">

        <div class="block-header bg-gray-darker">
            <h3 class="block-title">Pick Up Shift Assignments</h3>
        </div>

        <div>

            <table class="table table-striped table-vcenter mt-10">

                <tbody>

                {% for assignment in pickupEligibleAssignments | multisort('shift.startDate') %}

                    <tr>

                        <td class="text-center" title="{{ assignment.id }}" scope="row">
                            <i class="fa fa-calendar text-gray-dark p-5"></i>
                        </td>

                        <td title="{{ assignment.id }}">
                            <strong class="font-weight-bolder">{{ assignment.shift.displayName }}</strong>
                        </td>

                        <td>
                            <em class="text-muted">{{ assignment.shift.startDate | date('l, F j, Y g:i a') }} &ndash; {{ assignment.shift.endDate | date('g:i a') }}</em>
                        </td>

                        <td>
                            {% if assignment.shift.id in myWishlistShiftIds %}
                                <i class="fa fa-star text-gray-dark p-5"></i>
                                <em>On your Wishlist</em>
                            {% endif %}
                        </td>

                        <td class="text-right pr-20">
                            <a class="btn btn-alt-success mr-5 my-5" href="{{ ctUrl('shifts/pick-up-assignment', {assignment: assignment.id}) }}">
                                Pick Up this Shift...
                            </a>
                        </td>

                    </tr>

                {% else %}

                    <tr>
                        <td colspan="0">
                            <div class="block block-rounded {{ emptyClass ?? 'bg-warning-light' }}">
                                <div class="block-content">
                                    <p class="font-weight-bolder">{{ emptyMessage ?? "(We can't find any assignments for you to pick up right now.)" }}</p>
                                </div>
                            </div>
                        </td>
                    </tr>

                {% endfor %}

                </tbody>
            </table>


        </div>

    </div>

    <p>
        <a class="btn btn-outline-dark mr-5 my-5" href="{{ ctUrl('my-shifts') }}">
            <i class="si si-action-undo mr-1"></i> Back to Your Shifts
        </a>
    </p>

{% endblock %}
