{#
URL params:
 - cn
#}

{% set member = committeeTools.members.getMemberByCn(cn) %}

{% if not member %}
    {% exit 404 %}
{% endif %}

{% extends ct.view.getSystemTemplatePaths('_base') %}

{% set user = committeeTools.members.getMemberUser(member) %}
{% set assignments = committeeTools.assignments.getAssignmentsByMember(member) %}


{% block ct %}

    <div class="block block-themed">

        <div class="block-header bg-gray-darker">

            <h3 class="block-title">{{ member.fullPreferredName }}'s Shifts</h3>

        </div>

        <div class="block-content block-content-full">
            <ul class="list list-timeline list-timeline-modern pull-t">

                {% for assignment in assignments %}

                    <li>
                        <div class="list-timeline-time"></div>
                        <i class="list-timeline-icon fa fa-calendar bg-gray-dark" title="{{ assignment.id }}"></i>
                        <div class="list-timeline-content">
                            <p class="font-weight-bolder mb-10">{{ assignment.shift.displayName }}</p>
                            <p>
                                {% if assignment.availableForTrade and not assignment.tradePending %}
                                    <span class="badge badge-info">Available For Trades</span>
                                {% endif %}
                                {% if assignment.tradePending %}
                                    <span class="badge badge-warning">Trade Pending</span>
                                {% endif %}
                            </p>
                            <p>{{ assignment.shift.startDate | date('l, F j, Y g:i a')}}</p>

                            {% if assignment.assignedMemberCn != assignment.originalAssignedMemberCn %}

                                {% set originalAssignedMember = committeeTools.members.getMemberByCn(assignment.originalAssignedMemberCn) %}

                                <div class="block block-rounded block-bordered">
                                    <div class="block-content">
                                        <p class="font-weight-bolder">
                                            Originally assigned to:
                                        </p>
                                        <p>
                                            {{ originalAssignedMember.fullPreferredName }}
                                            <br>
                                            {{ originalAssignedMember.subcommittee1 ?? '(No Subcommittee)' }}
                                            <br>
                                            {{ originalAssignedMember.cellPhone ?: originalAssignedMember.phone }}
                                            <br>
                                            {{ originalAssignedMember.email }}
                                        </p>
                                    </div>
                                </div>

                            {% endif %}

                            {% if assignment.availableForTrade and not assignment.locked %}

                                {% for request in assignment.getPendingTradeRequests() %}

                                    {% set otherAssignment = (assignment.id != request.targetShiftAssignmentId ? request.getTargetAssignment() : request.getSourceAssignment()) %}

                                    <div class="block block-rounded block-bordered">
                                        <div class="block-header bg-warning-light" title="{{ request.id }}">
                                            <p class="font-weight-bolder mb-0">Trade Request w/ {{ otherAssignment.assignedMember.fullPreferredName }}</p>
                                        </div>
                                        <div class="block-content">
                                            <p class="font-weight-bolder">{{ otherAssignment.shift.displayName }}</p>
                                            <p>{{ otherAssignment.shift.startDate | date('l, F j, Y g:i a')}}</p>
                                            <p>
                                                {{ otherAssignment.assignedMember.fullPreferredName }}
                                                <br>
                                                {{ otherAssignment.assignedMember.cellPhone ?: otherAssignment.assignedMember.phone }}
                                                <br>
                                                {{ otherAssignment.assignedMember.email }}
                                            </p>
                                        </div>
                                        {% if currentMember.canResolveShiftAssignmentRequest(request) %}
                                            <div class="block-content block-content-full block-content-sm bg-body-light font-size-sm">

                                                <form method="post" class="d-inline-block">

                                                    {{ actionInput('committee-tools/shift-assignment-requests/decline-request') }}
                                                    {{ csrfInput() }}
                                                    {{ redirectInput('ct/my-shifts') }}
                                                    {{ hiddenInput('assignmentRequest', request.id) }}

                                                    <button class="btn btn-sm btn-alt-danger mr-5 my-5" type="submit">
                                                        <i class="fa fa-times mr-1"></i> Decline this Request
                                                    </button>

                                                </form>

                                                <form method="post" class="d-inline-block">

                                                    {{ actionInput('committee-tools/shift-assignment-requests/approve-request') }}
                                                    {{ csrfInput() }}
                                                    {{ redirectInput('ct/my-shifts') }}
                                                    {{ hiddenInput('assignmentRequest', request.id) }}

                                                    <button class="btn btn-sm btn-alt-success mr-5 my-5" type="submit">
                                                        <i class="fa fa-check mr-1"></i> Approve this Request
                                                    </button>

                                                </form>

                                            </div>
                                        {% endif %}
                                    </div>

                                {% else %}

                                    <p>
                                        <a class="btn btn-sm btn-alt-info mr-5 my-5" href="{{ url('ct/shifts/search-trades', {assignment: assignment.id}) }}">
                                            <i class="fa fa-search mr-1"></i> Search for Trades
                                        </a>
                                        <a class="btn btn-sm btn-alt-warning mr-5 my-5" href="{{ actionUrl('committee-tools/shift-assignments/set-assignment-available-for-trade', {id: assignment.id, available: 'no'}) }}">
                                            <i class="fa fa-undo mr-1"></i> Keep This Shift
                                        </a>
                                    </p>

                                {% endfor %}

                            {% endif %}
                            {% if not assignment.availableForTrade %}
                                <p>
                                    <a class="btn btn-sm btn-alt-warning mr-5 my-5" href="{{ actionUrl('committee-tools/shift-assignments/set-assignment-available-for-trade', {id: assignment.id}) }}">
                                        <i class="fa fa-exchange mr-1"></i> Make Available for Trades
                                    </a>
                                </p>
                            {% endif %}

                            <form method="post" class="">
                                {{ actionInput('committee-tools/shift-assignments/delete-assignment') }}
                                {{ csrfInput() }}
                                {{ redirectInput(craft.app.request.url) }}
                                {{ hiddenInput('assignment', assignment.id) }}
                                <p>
                                    <button class="btn btn-sm btn-alt-danger" type="submit">
                                        <i class="fa fa-times mr-1"></i> Delete Assignment
                                    </button>
                                </p>
                            </form>

                        </div>
                    </li>

                {% else %}

                    <li>

                        <div class="block block-rounded bg-warning-light">
                            <div class="block-content">
                                <p class="font-weight-bolder">You aren't assigned to any Shifts.</p>
                            </div>
                        </div>

                    </li>

                {% endfor %}

            </ul>
        </div>

    </div>

    <div class="block block-themed">

        <div class="block-header bg-gray-darker">
            <h3 class="block-title">Shift Check-Ins</h3>
        </div>

        <div>

            <table class="table table-striped table-vcenter mt-10">

                <tbody>

                {% for assignment in assignments %}
                    <tr>
                        <td>
                    <span class="font-weight-bolder">
                        {{ assignment.shift.displayName }}
                    </span>
                            <br>
                            {{ assignment.shift.startDate | date('F j, Y g:i a') }}
                        </td>
                        <td>

                        </td>
                        <td>
                            {% if assignment.checkedInTime %}
                                {{ assignment.checkedInTime | datetime('F j, Y g:i a') }}
                            {% endif %}
                        </td>
                        <td>
                            {% if assignment.checkedInByUserId %}
                                <em class="font-quiet">
                                    Checked in by {{ assignment.checkedInByUser.firstName }} {{ assignment.checkedInByUser.lastName }}
                                </em>
                            {% endif %}
                        </td>

                    </tr>
                {% endfor %}

                </tbody>

            </table>

        </div>

    </div>

    {% if user %}

        {% set assignmentRequests = committeeTools.assignmentRequests.find().involvingUser(user).with(['resolvingUser']).all() %}

        <div class="block block-themed">

            <div class="block-header bg-gray-darker">
                <h3 class="block-title">Assignment Requests involving {{ user.fullName }}</h3>
            </div>

            <div>
                {{ committeeTools.view.render('_includes/_shiftRequestTable', {
                    requests: assignmentRequests,
                    emptyMessage: "There aren't any Requests involving this User."
                }) }}
            </div>

        </div>

    {% endif %}

{% endblock %}
