{% extends ct.view.getSystemTemplatePaths('_base') %}

{% set canManage = currentUser.admin or (currentMember and (currentMember.isCaptain() or currentMember.isManagement())) %}

{% do view.registerAssetBundle("hlsr\\committeetools\\assetbundles\\MemberSearchAssetBundle") %}

{% block ct %}

<script>
	window.algolia = window.algolia || {};
	window.algolia.appId = '{{ committeeTools.settings.algoliaApplicationId }}';
	window.algolia.searchKey = '{{ committeeTools.settings.algoliaPublicApiKey }}';
</script>

<script>
    window.committeeTools = window.committeeTools || {};
	window.committeeTools.membersIndexName = '{{ committeeTools.settings.membersSearchIndexName }}';
</script>

<style>
    .searchHighlight {
        background-color: #fcf8d3;
    }
</style>

<div class="block block-themed">

    <div class="block-header bg-gray-darker">

        <h3 class="block-title">Member Search</h3>

    </div>

    <div x-data="x_memberSearch()" x-init="() => { search(); }">

        <div class="p-15">
            <input type="search" class="form-control" x-model="query" x-on:keyup="search()" placeholder="Search...">
        </div>

        <div class="table-responsive" x-show="hits">

            <table x-show="!loading && hits" class="table table-striped table-vcenter">
                <tbody>

                <template x-if="loading">
                    <tr>
                        <td>Loading...</td>
                    </tr>
                </template>

                <template x-if="!loading && !hits">
                    <tr>
                        <td>No results.</td>
                    </tr>
                </template>

                <template x-for="item in hits" :key="item.cn">

                    <tr>

                        <td class="text-center pl-20">
                            <img :src="'/{{ committeeTools.settings.memberPhotosPublicPath }}/' + item.cn + '.gif'" style="max-height: 70px; border-radius: 3px;">
                        </td>

                        <td>
                            <span class="font-weight-bolder" x-html="item._highlightResult.fullPreferredName.value || ''"></span>
                            <br>
                            <small class="text-quiet" x-html="item._highlightResult.description.value || ''"></small>
                        </td>

                        {% if canManage %}

                            <td>
                                <p class="mb-5" x-show="!!item.cn">
                                    <a class="text-nowrap" :href="'{{ ctUrl('members/') }}' + item.cn">
                                        <i class="fa fa-user-circle mr-5"></i><em class="text-muted" x-text="item.cn"></em>
                                    </a>

                                </p>
                                <p class="mb-5" x-show="!!item.bestPhoneNumber">
                                    <a class="text-nowrap" :href="'tel:'+item.bestPhoneNumber" >
                                        <i class="fa fa-phone mr-5"></i><em class="text-muted" x-text="item.bestPhoneNumber"></em>
                                    </a>
                                </p>
                                <p class="mb-0" x-show="!!item.email">
                                    <a class="text-nowrap" :href="'mailto:'+item.email">
                                        <i class="fa fa-envelope-o mr-5"></i><em class="text-muted" x-html="item._highlightResult.email.value || ''"></em>
                                    </a>
                                </p>
                            </td>

                        {% else %}

                            <td>
                                <p class="mb-5" x-show="!!item.lightRosterCellPhone || !!item.lightRosterPhone">
                                    <a class="text-nowrap" :href="'tel:'+(item.lightRosterCellPhone ? item.lightRosterCellPhone : item.lightRosterPhone)">
                                        <i class="fa fa-phone mr-5"></i><em class="text-muted text-nowrap" x-text="item.lightRosterCellPhone ? item.lightRosterCellPhone : item.lightRosterPhone"></em>
                                    </a>
                                </p>
                                <p class="mb-0" x-show="!!item.lightRosterEmail">
                                    <a class="text-nowrap" :href="'mailto:'+item.lightRosterEmail">
                                        <i class="fa fa-envelope-o mr-5"></i><em class="text-muted" x-html="(item._highlightResult.lightRosterEmail ? item._highlightResult.lightRosterEmail.value : '')"></em>
                                    </a>
                                </p>
                            </td>

                        {% endif %}

                        <td>
                            <span class="badge badge-secondary" x-text="item.subcommittee1DisplayName"></span>
                        </td>

                        {% if canManage %}

                            <td class="text-center pr-20">
                                <a class="btn btn-sm btn-alt-info" :href="'{{ ctUrl('members') }}/' + item.cn">
                                    <i class="fa fa-info-circle"></i>
                                </a>
                            </td>

                        {% endif %}

                    </tr>

                </template>

                </tbody>
            </table>

        </div>

    </div>

</div>

{% endblock %}
