{% set assignmentsByShift = ct.assignments.find.inCurrentShowYear().asArray().all()
	| multisort(['shift.division', 'shift.startDate'])
	| group('shiftId')
%}

<html>

<title>Shift Staffing</title>

<head>

	<style>
		* {
			font-family: sans-serif;
		}
		table {
			border: 1px solid #777;
			border-collapse: collapse;
		}
		th {
			font-weight: bold;
		}
		th, td {
			border: 1px solid #777;
			padding: 0.5rem;
		}
	</style>

</head>

<body>

	<table>

		<tr>
			<th>ID</th>
			<th>Shift</th>
			<th>Managed By</th>
			<th>Assigned</th>
			<th>Open (Unassigned)</th>
			<th>Assigned to Inactive Member</th>
			<th>Total</th>
		</tr>

		{% for shiftId, assignments in assignmentsByShift %}
		<tr>

			<td>{{ shiftId }}</td>
			<td>{{ assignments[0].shift.displayName ?? null }}</td>
			<td>{{ assignments[0].shift.managedBySubcommitteeNames ?? null }}</td>
			<td>{{ assignments | filter(a => a.assignedMemberCn) | length }}</td>
			<td>{{ assignments | filter(a => not a.assignedMemberCn) | length }}</td>
			<td>{{ assignments | filter(a => a.assignedMember and a.assignedMember.status == 'inactive') | length }}</td>
			<td>{{ assignments | length }}</td>

		</tr>
		{% endfor %}

	</table>

</body>

</html>
