{% set assignmentsByMember = ct.assignments.find.inCurrentShowYear().hasAssignedMember().asArray().all()
	| multisort(['assignedMember.subcommitteeName1', 'assignedMember.lastName'])
	| group('assignedMemberCn')
%}

<html>

<title>Assignments by Member</title>

<head>

	<style>
		* {
			font-family: sans-serif;
		}
		table {
			border: 1px solid #777;
			border-collapse: collapse;
		}
		th {
			font-weight: bold;
		}
		th, td {
			border: 1px solid #777;
			padding: 0.5rem;
		}
	</style>

</head>

<body>

	<table>

		<tr>
			<th>CN</th>
			<th>Name</th>
			<th>Team</th>
			<th>Total Assigned</th>
			<th>Past, Checked-In</th>
			<th>Past, Excused</th>
			<th>Past, Not Present</th>
			<th>Past, Dismissed</th>
			<th>Upcoming</th>
		</tr>

		{% for cn, assignments in assignmentsByMember %}

			{% with {
				assignedMember: assignments[0].assignedMember,
				now: now|date('U')
			} %}

				<tr>

					<td>{{ cn }}</td>
					<td>{{ assignedMember.customerNamePhonetic ?? null }}</td>
					<td>{{ assignedMember.subcommitteeName1 ?? null }}</td>

					{# Total Assigned #}
					<td>{{ assignments | length }}</td>

					{# Past, Checked-In #}
					<td>{{ assignments | filter(a => (a.shift.startDate|date('U') < now) and (a.status in ['checkedIn', 'checkedInLate'])) | length }}</td>

					{# Past, Excused #}
					<td>{{ assignments | filter(a => (a.shift.startDate|date('U') < now) and (a.status in ['excused'])) | length }}</td>

					{# Past, No Credit #}
					<td>{{ assignments | filter(a => (a.shift.startDate|date('U') < now) and (not a.status)) | length }}</td>

					{# Past, Dismissed #}
					<td>{{ assignments | filter(a => (a.shift.startDate|date('U') < now) and (a.status in ['dismissed'])) | length }}</td>

					{# Upcoming #}
					<td>{{ assignments | filter(a => (a.shift.startDate|date('U') > now)) | length }}</td>

				</tr>

			{% endwith %}

		{% endfor %}

	</table>

</body>

</html>
